<form action="/find_parking/" method="post">
    <label for="destination_name">Where is your destination?: </label>
    <input id="destination_name" type="text" name="destination_field" value="">
    <input type="submit" value="OK">
</form>